$main-color: #f09300;
.call-modal {
    cursor: pointer;
}

.noscroll {
    overflow: hidden;
}
.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow: auto;
    font-size: 16px;
    line-height: 1.2;
    &__close {
        /*====== close/del button on svg bg ====*/
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='611.979' height='611.979' viewBox='0 0 611.979 611.979' style='enable-background:new 0 0 611.979 611.979; ' xml:space='preserve'><path d='M356.781,305.982L601.453,61.311c14.033-14.033,14.033-36.771,0-50.774c-14.004-14.033-36.741-14.033-50.774,0		L306.007,255.208L61.277,10.536c-14.004-14.033-36.771-14.033-50.774,0c-14.004,14.004-14.004,36.742,0,50.774l244.701,244.672L10.503,550.684c-14.004,14.004-14.004,36.771,0,50.774c7.016,7.017,16.216,10.51,25.387,10.51c9.2,0,18.371-3.493,25.387-10.51	l244.701-244.701l244.671,244.701c7.017,7.017,16.217,10.51,25.388,10.51c9.199,0,18.399-3.493,25.387-10.51 c14.033-14.033,14.033-36.771,0-50.774L356.781,305.982z'/></svg>")
            no-repeat;
        background-size: contain;
        height: 200px;
        width: 100px;
        fill: #000;
        font-size: 36px;
        display: inline-block;
        width: 18px;
        height: 18px;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 99;
        &:focus {
            outline: none;
        }
    }
    &__wrap {
        width: 100%;
        height: 100%;
        display: flex;
    }
    &__container {
        margin: auto;
        position: relative;
        padding: 15px;
        background: #fff;
        width: calc(100% - 15px);
        max-width: 500px;
        border-radius: 20px;
        margin-top: 3em;
        @media (min-width: 461px) {
            padding: 20px;
        }
        @media (min-width: 992px) {
            width: 1240px;
            max-width: calc(100% - 60px);
        }
        @media (min-width: 1200px) {
            padding: 25px;
        }
    }
    &_show {
        display: flex;
    }
    &__title {
        font-family: "KyivTypeSans", serif;
        font-size: 28px;
        font-weight: 900;
        order: -1;
        text-align: center;
        @media (min-width: 992px) {
            text-align: left;
            order: unset;
        }
    }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.quantity {
    position: relative;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    &__input {
        width: 2.25em;
        height: 2.25em;
        line-height: 2.25em;
        display: block;
        padding: 0;
        margin: 0;
        text-align: center;
        font-weight: 900;
        &:focus {
            outline: 0;
        }
    }
    &-button {
        position: relative;
        cursor: pointer;
        width: 2.25em;
        height: 2.25em;
        line-height: 2.25em;
        text-align: center;
        color: #fff;
        background: $main-color;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        &:hover {
            opacity: 0.5;
        }
    }
    &__label {
        width: 100%;
        margin-bottom: 1em;
        @media (min-width: 461px) {
            width: 50%;
            margin-bottom: 0em;
        }
        @media (min-width: 992px) {
            max-width: 12em;
        }
    }
    &__rez {
        line-height: 2.25em;
        flex-shrink: 0;
    }
    &__operator {
        width: 16px;
        height: 2px;
        background: #fff;
        position: relative;
        &_pluse {
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background: #fff;
                position: absolute;
                top: 0px;
                left: 0;
                transform: rotate(90deg);
            }
        }
    }
}
.form {
    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        grid-column-gap: 20px;
    }
    @media (min-width: 1200px) {
        column-gap: 40px;
        grid-column-gap: 40px;
    }
    &__block {
        padding: 20px;
        border-radius: 10px;
        background-color: #e5e5e5;
        margin-bottom: 1.5em;
        @media (max-width: 460px) {
            margin-bottom: 11px;
        }
        @media (min-width: 992px) {
            margin-bottom: 1.6em;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
        @media (min-width: 461px) {
            flex-wrap: nowrap;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0px;
        grid-column-gap: 0px;
        @media (min-width: 461px) {
            gap: 8px 20px;
            grid-gap: 8px 20px;
            grid-template-columns: 1fr 1fr;
        }
    }
    &__shine {
        display: flex;
        margin: 10px -10px;
        justify-content: space-between;
        padding: 7px 10px;
        @media (min-width: 461px) {
            background-color: #fff;
        }
    }
    &__total {
        font-size: 1.125em;
        font-weight: bold;
    }
    &__group {
        // margin-bottom: 8px;
        position: relative;
        @media (max-width: 460px) {
            margin-bottom: 11px;
        }
    }
    &__text {
        font-size: 18px;
        margin-bottom: 1.5em;
        @media (min-width: 992px) {
            margin-bottom: 0em;
        }
    }
    &__btn {
        background: #f09300;
        color: #fff;
        border-radius: 1em;
        border-radius: 3em;
        display: inline-flex;
        line-height: 1;
        padding: 0.5em 1.3em 0.5em;
        position: relative;
        font-weight: 700;
        transition: all 0.3s;
        font-size: 24px;
        cursor: pointer;
        &.btn:hover {
            opacity: 0.7;
        }
    }
    &__submit {
        margin-top: 1.7em;
        display: flex;
        justify-content: center;
        @media (min-width: 992px) {
            margin-top: auto;
        }
    }
    &__points {
        position: absolute;
        top: 15px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        @media (min-width: 992px) {
            display: none;
        }
    }
    &__point {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #949494;
        background: #e5e5e5;
        margin: 0 10px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        &_active {
            color: #fff;
            background: #eb9500;
        }
    }
    &__step {
        display: none;
        padding-top: 25px;
        flex-direction: column;
        &_active {
            display: flex;
        }
        @media (min-width: 992px) {
            display: flex;
            padding-top: 0;
        }
    }
    &__deliv {
        margin-bottom: 4em;
        margin-top: 2em;
        @media (max-width: 460px) {
            margin-bottom: 7em;
        }
        @media (min-width: 992px) {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}
.label {
    font-size: 1.125em;
    padding: 5px 20px;
    display: block;
    @media (max-width: 460px) {
        display: none;
    }
}
.input {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: bold;
    transition: all 0.3s;
    width: 100%;
    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 2px #ccc;
        background-color: #fff;
    }
    &::placeholder {
        color: transparent;
        font-weight: 400;
        @media (max-width: 460px) {
            color: #949494;
        }
    }
}
.input_empty,
.maskerror,
.input_empty + .custom-select {
    box-shadow: inset 0 0 0 3px $main-color;
}
//Custom select
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    width: 100%;
    margin-bottom: 1.5em;
    @media (max-width: 460px) {
        margin-bottom: 11px;
    }
    @media (min-width: 992px) {
        margin-bottom: 10px;
    }
}
.custom-select-wrapper select {
    display: none;
}

.custom-select {
    position: relative;
    display: block;
    width: 100%;
    // tag select
    border-radius: 10px;
    background-color: #e5e5e5;
    font-size: 1.125em;
    line-height: 1;
    font-weight: bold;
    transition: all 0.3s;
    border: none;
    margin-bottom: 10px;
    padding: 9px 35px 9px 20px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 123.959 123.958' style='enable-background:new 0 0 123.959 123.958;' xml:space='preserve'%3E%3Cpath d='M117.979,28.017h-112c-5.3,0-8,6.4-4.2,10.2l56,56c2.3,2.3,6.1,2.3,8.401,0l56-56 C125.979,34.417,123.279,28.017,117.979,28.017z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right 15px;
    background-size: 16px;
    &:before {
        content: "";
        border-top: 6px solid #000;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }
    &:hover {
        cursor: poiner;
    }
    &:focus {
        outline: 0;
        box-shadow: inset 0 0 0 2px #ccc;
        background-color: #fff;
    }
}
.custom-select-trigger {
    position: relative;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}
.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    top: 45%;
    right: 15px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #222 transparent transparent transparent;
}
.custom-select.opened .custom-select-trigger:after {
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #222 transparent;
}
.custom-options {
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
    background: #fff;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    z-index: 9;
}
.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}
.option-hover:before {
    background: #f9f9f9;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 12px;
    font-weight: 300;
    line-height: 30px;
    cursor: pointer;
}
.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
    background: #ebebeb;
}
.hide {
    display: none;
}
.content_center {
    text-align: center;
}
.thankyou {
    width: calc(100% - 30px);
    max-width: 650px;
    margin-top: 3em;
    &__image {
        position: relative;
        width: 50%;
        margin: 15px auto;
    }
    &__img {
        width: 100%;
    }
    &__title {
        color: #fff;
        text-align: center;
        font-size: 36px;
        font-family: "KyivTypeSans";
        font-weight: 900;
        background-image: url(../image/star.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 36em;
        height: 36em;
        margin: 15px auto;

        width: 8em;
        height: 8em;
        padding: 3.2em 0;
    }
    &__text {
        font-size: 24px;
        text-align: center;
        a {
            font-weight: bold;
            cursor: pointer;
        }
    }
}
#step2 {
    @media (min-width: 992px) {
        padding-top: 4.7em;
    }
}
#toStep2 {
    display: block;
    @media (min-width: 992px) {
        display: none;
    }
}
