html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background: transparent;
  border: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  border: none;
  line-height: normal;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

blockquote {
  margin: 0;
}

.call-modal {
  cursor: pointer;
}

.noscroll {
  overflow: hidden;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  font-size: 16px;
  line-height: 1.2;
}

.modal__close {
  /*====== close/del button on svg bg ====*/
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='611.979' height='611.979' viewBox='0 0 611.979 611.979' style='enable-background:new 0 0 611.979 611.979; ' xml:space='preserve'><path d='M356.781,305.982L601.453,61.311c14.033-14.033,14.033-36.771,0-50.774c-14.004-14.033-36.741-14.033-50.774,0		L306.007,255.208L61.277,10.536c-14.004-14.033-36.771-14.033-50.774,0c-14.004,14.004-14.004,36.742,0,50.774l244.701,244.672L10.503,550.684c-14.004,14.004-14.004,36.771,0,50.774c7.016,7.017,16.216,10.51,25.387,10.51c9.2,0,18.371-3.493,25.387-10.51	l244.701-244.701l244.671,244.701c7.017,7.017,16.217,10.51,25.388,10.51c9.199,0,18.399-3.493,25.387-10.51 c14.033-14.033,14.033-36.771,0-50.774L356.781,305.982z'/></svg>") no-repeat;
  background-size: contain;
  height: 200px;
  width: 100px;
  fill: #000;
  font-size: 36px;
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 99;
}

.modal__close:focus {
  outline: none;
}

.modal__wrap {
  width: 100%;
  height: 100%;
  display: flex;
}

.modal__container {
  margin: auto;
  position: relative;
  padding: 20px;
  background: #fff;
  width: calc(100% - 15px);
  max-width: 500px;
  border-radius: 8px;
}

@media (min-width: 992px) {
  .modal__container {
    width: 1240p;
    max-width: calc(100% - 60px);
  }
}

@media (min-width: 1200px) {
  .modal__container {
    padding: 25px;
  }
}

.modal_show {
  display: flex;
}

.modal__title {
  font-family: "KyivTypeSans", serif;
  font-size: 28px;
  font-weight: 900;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.quantity {
  position: relative;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
}

.quantity__input {
  width: 2.25em;
  height: 2.25em;
  line-height: 2.25em;
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
}

.quantity__input:focus {
  outline: 0;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 2.25em;
  height: 2.25em;
  line-height: 2.25em;
  text-align: center;
  color: #fff;
  background: #f09300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity__label {
  width: 50%;
}

.quantity__rez {
  line-height: 2.25em;
  flex-shrink: 0;
}

@media (min-width: 992px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    grid-column-gap: 20px;
  }
}

@media (min-width: 1200px) {
  .form {
    -webkit-column-gap: 40px;
    column-gap: 40px;
    grid-column-gap: 40px;
  }
}

.form__block {
  padding: 20px;
  border-radius: 20px;
  background-color: #e5e5e5;
  margin-bottom: 1.78em;
}

.form__row {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.form__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  grid-column-gap: 20px;
}

.form__shine {
  display: flex;
  background-color: #fff;
  margin: 10px -10px;
  justify-content: space-between;
  padding: 7px 10px;
}

.form__total {
  font-size: 1.125em;
  font-weight: bold;
}

.form__group {
  margin-bottom: 8px;
}

.form__text {
  font-size: 18px;
}

.form__btn {
  background: #f09300;
  color: #fff;
  border-radius: 1em;
  border-radius: 3em;
  display: inline-flex;
  line-height: 1;
  padding: 0.5em 1.3em 0.5em;
  position: relative;
  font-weight: 700;
  transition: all 0.3s;
  font-size: 24px;
}

.form__btn.btn:hover {
  opacity: 0.7;
}

.form__submit {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

.form__points {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__point {
  width: 30px;
  height: 30px;
  border: radius;
  color: #949494;
  background: #e5e5e5;
}

.form__point_active {
  color: #fff;
  background: #eb9500;
}

.form__step {
  display: none;
}

.form__step_active {
  display: block;
}

@media (min-width: 992px) {
  .form__step {
    display: block;
  }
}

.label {
  font-size: 1.125em;
  padding: 5px 20px;
  display: block;
}

.input {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: bold;
  transition: all 0.3s;
  width: 100%;
}

.input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #ccc;
  background-color: #fff;
}

.input_empty,
.maskerror {
  box-shadow: inset 0 0 0 3px #f09300;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  margin-bottom: 10px;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  background-color: #e5e5e5;
  font-size: 1.125em;
  line-height: 1;
  font-weight: bold;
  transition: all 0.3s;
  border: none;
}

.custom-select:hover {
  cursor: poiner;
}

.custom-select-trigger {
  position: relative;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
}

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  top: 45%;
  right: 15px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #222 transparent transparent transparent;
}

.custom-select.opened .custom-select-trigger:after {
  border-style: solid;
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent #222 transparent;
}

.custom-options {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  z-index: 9;
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.option-hover:before {
  background: #f9f9f9;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 12px;
  font-weight: 300;
  line-height: 30px;
  cursor: pointer;
}

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
  background: #ebebeb;
}

.hide {
  display: none;
}

@media (max-width: 991px) {
  #step2 {
    display: none;
  }
}

/*colors*/
/*breakpoints*/
/*====== fonts =======*/
@font-face {
  font-family: "KyivTypeSans";
  src: url("../fonts/KyivType/KyivTypeSans-Black2.woff2") format("woff2"), url("../fonts/KyivType/KyivTypeSans-Black2.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KyivTypeSans";
  src: url("../fonts/KyivType/KyivTypeSans-Thin.woff2") format("woff2"), url("../fonts/KyivType/KyivTypeSans-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans_Regular/PT_Sans_Regular.woff2") format("woff2"), url("../fonts/PT_Sans_Regular/PT_Sans_Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans_Bold/PT_Sans_Bold.woff2") format("woff2"), url("../fonts/PT_Sans_Bold/PT_Sans_Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Astra";
  src: url("../fonts/PT_Astra_Serif_Regular/PTAstraSerifRegular.woff2") format("woff2"), url("../fonts/PT_Astra_Serif_Regular/PTAstraSerifRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*====== end fonts =======*/
html {
  font-size: 10px;
}

@media (min-width: 320px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-size: 12px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  color: #000000;
}

@media (min-width: 320px) and (min-height: 400px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 576px) and (min-height: 490px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (min-height: 490px) {
  body {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 1440px) and (min-height: 600px) {
  body {
    font-size: 24px;
  }
}

.section {
  position: relative;
  display: block;
}

.container {
  padding: 1px 15px;
  margin: -1px 0;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    padding: 1px 30px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 1px 40px;
  }
}

ol {
  padding-left: 1em;
}

ol li {
  padding-left: 0.5em;
}

.strong {
  font-weight: bold;
}

.color {
  color: #f09300;
}

.text-center {
  text-align: center;
}

.text_sm {
  font-size: 1rem;
}

p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.h1 {
  font-family: "KyivTypeSans", serif;
  font-weight: 900;
  font-size: 6vw;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0.5em 0 0.2em;
  position: relative;
}

@media (max-height: 400px) {
  .h1 {
    font-size: 5.5vw;
  }
}

@media (max-width: 575px) and (min-height: 576px) {
  .h1 {
    line-height: 1.5;
    font-size: 8.5vw;
  }
}

@media (min-width: 576px) and (min-height: 490px) {
  .h1 {
    margin: 0.5em 0;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .h1 {
    -webkit-text-stroke: 2px;
    text-shadow: 0 1px 0 white;
  }
}

@media (min-width: 1600p) {
  .h1 {
    font-size: 6.24vw;
  }
}

.h1_mask {
  display: none;
}

@media (min-width: 768px) and (orientation: landscape) {
  .h1_mask {
    position: absolute;
    display: block;
    top: 1.2em;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 2px white;
    text-shadow: none;
    z-index: 5;
  }
}

.h1_mask .title_color {
  opacity: 0;
}

.h2 {
  font-family: "KyivTypeSans", serif;
  font-size: 6.2vw;
  font-weight: 900;
  line-height: 1.2;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0 0.3em;
}

@media (min-width: 576px) {
  .h2 {
    font-size: 5.2vw;
  }
}

.h3 {
  font-family: "KyivTypeSans", serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
}

@media (min-width: 576px) {
  .h3 {
    font-size: 36px;
  }
}

@media (min-width: 1440px) {
  .h3 {
    font-size: 2.79em;
  }
}

@media (min-width: 1440px) {
  .h3 {
    font-size: 80px;
  }
}

.h4 {
  font-family: "KyivTypeSans", serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.2;
}

@media (min-width: 576px) {
  .h4 {
    font-size: 26px;
  }
}

@media (min-width: 768px) {
  .h4 {
    font-size: 36px;
  }
}

.title_color {
  background: #f09300;
  color: #000;
  text-shadow: none;
}

@media (min-width: 768px) and (orientation: landscape) {
  .title_color {
    -webkit-text-stroke: 2px;
  }
}

.title_special {
  color: #000;
  text-transform: uppercase;
  background-image: url("../image/title_bg1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  -webkit-transform: rotate(-9deg);
  transform: rotate(-9deg);
  text-align: left;
  display: inline-block;
  margin: 0;
  margin-top: 1.5em;
  width: auto;
  padding: 0 0.7em 0.1em;
  line-height: 1;
  font-size: 22px;
}

@media (min-width: 576px) {
  .title_special {
    font-size: 36px;
  }
}

@media (min-width: 1440px) {
  .title_special {
    font-size: 2.79em;
  }
}

@media (min-width: 1440px) {
  .title_special {
    font-size: 80px;
  }
}

.title_special:nth-of-type(2) {
  background-image: url("../image/title_bg2.svg");
  margin-top: 0;
  margin-bottom: 1em;
}

@-webkit-keyframes animDown {
  from,
  to {
    bottom: 60px;
  }
  50% {
    bottom: 45px;
  }
}

@keyframes animDown {
  from,
  to {
    bottom: 60px;
  }
  50% {
    bottom: 45px;
  }
}

@-webkit-keyframes animDownMob {
  from,
  to {
    bottom: 20px;
  }
  50% {
    bottom: 5px;
  }
}

@keyframes animDownMob {
  from,
  to {
    bottom: 20px;
  }
  50% {
    bottom: 5px;
  }
}

.scrollnext {
  display: none;
}

@media (min-height: 767px) and (min-width: 992px) {
  .scrollnext {
    display: block;
    width: 52px;
    height: 63px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 71 52.82' style='fill: %23f09300;'%3E%3Cpolygon class='cls-1' points='41.76 2.86 63.34 24.54 0 24.54 0 28.54 63.34 28.54 41.76 50.03 44.59 52.82 71 26.38 44.59 0 41.76 2.86' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    bottom: 60px;
    left: 25px;
    z-index: 9999;
    -webkit-animation: animDownMob 1s ease-in-out infinite;
    animation: animDownMob 1s ease-in-out infinite;
  }
}

@media (min-width: 1440px) and (min-width: 600px) {
  .scrollnext {
    left: 45px;
    -webkit-animation: animDown 1s ease-in-out infinite;
    animation: animDown 1s ease-in-out infinite;
  }
}

.scrollnext:focus {
  outline: none;
}

@-webkit-keyframes animRight {
  from,
  to {
    right: 0px;
  }
  50% {
    right: -20px;
  }
}

@keyframes animRight {
  from,
  to {
    right: 0px;
  }
  50% {
    right: -20px;
  }
}

@-webkit-keyframes animLeft {
  from,
  to {
    left: 0px;
  }
  50% {
    left: -20px;
  }
}

@keyframes animLeft {
  from,
  to {
    left: 0px;
  }
  50% {
    left: -20px;
  }
}

.link {
  transition: all 0.3s;
}

.link:hover {
  font-weight: bold;
}

.arrowlink {
  width: 13em;
  position: relative;
  padding-right: 3.3em;
  font-weight: bold;
  text-align: right;
  display: block;
}

@media (min-width: 1440px) {
  .arrowlink {
    padding-right: 4em;
  }
}

.arrowlink:after {
  content: "";
  width: 2.5em;
  height: 1.8em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 71 52.82' style='fill: %23f09300;'%3E%3Cpolygon class='cls-1' points='41.76 2.86 63.34 24.54 0 24.54 0 28.54 63.34 28.54 41.76 50.03 44.59 52.82 71 26.38 44.59 0 41.76 2.86' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: 1.35em;
  right: 0;
  -webkit-animation: animRight 1.1s ease-in-out infinite;
  animation: animRight 1.1s ease-in-out infinite;
}

@media (min-width: 1440px) {
  .arrowlink:after {
    width: 2.95em;
    height: 2.16em;
    top: 1.15em;
  }
}

.arrowlink_left {
  padding-left: 3.3em;
  padding-right: 0;
  text-align: left;
}

.arrowlink_left:after {
  right: auto;
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: animLeft 1.1s ease-in-out infinite;
  animation: animLeft 1.1s ease-in-out infinite;
}

.black {
  background: #000;
  color: #fff;
}

.first {
  height: 100vh;
  background: #000;
  color: #fff;
  position: relative;
  display: flex;
  padding-bottom: 60vw;
  padding-top: 0;
}

@media (min-width: 768px) and (orientation: landscape) {
  .first {
    display: block;
    padding-bottom: unset;
  }
}

.first .container {
  height: 150%;
}

@media (min-width: 768px) and (orientation: landscape) {
  .first .container {
    height: auto;
  }
}

.first__container {
  position: -webkit-sticky;
  position: sticky;
  top: 8%;
}

@media (min-width: 768px) and (orientation: landscape) {
  .first__container {
    position: unset;
    top: unset;
  }
}

.first__text {
  width: 100%;
  max-width: 38em;
  margin: 1em 0;
}

@media (min-width: 768px) and (orientation: landscape) {
  .first__text {
    width: 48%;
    max-width: unset;
  }
}

@media (min-width: 1200px) {
  .first__text {
    width: 42%;
  }
}

@media (min-width: 1440px) {
  .first__text {
    width: 38%;
    margin: 1.2em 0;
  }
}

.claw {
  position: absolute;
  right: 0;
  top: calc(90vh - 53vw);
  z-index: 0;
  width: 62.5vw;
  z-index: 2;
}

@media (min-width: 768px) and (orientation: landscape) {
  .claw {
    top: 0;
    padding-top: 3.5vw;
  }
}

.hand {
  position: relative;
  left: 0;
  top: -7.5vw;
  width: 57vw;
  z-index: 3;
}

.hand__img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

@-webkit-keyframes runString {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

@keyframes runString {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

.about {
  display: block;
  position: relative;
}

@media (min-width: 768px) and (orientation: landscape) {
  .about {
    min-height: 100vh;
    padding-bottom: 100px;
  }
}

.about__top {
  background: #000;
  color: #fff;
  position: relative;
  margin-top: -1px;
}

.about__content {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 800px;
  margin: 3em auto;
}

@media (min-width: 768px) {
  .about__content {
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 992px) {
  .about__content {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  .about__content {
    width: 50%;
  }
}

.about__wrap {
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-top: -12.5vw;
}

@media (min-width: 1440px) {
  .about__wrap {
    margin-top: -11.5vw;
  }
}

.about__info {
  font-family: "KyivTypeSans", serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
  white-space: nowrap;
  margin-bottom: 0.5em;
  -webkit-animation: runString 5s infinite linear;
  animation: runString 5s infinite linear;
}

@media (min-width: 576px) {
  .about__info {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .about__info {
    font-size: 48px;
    line-height: 1.2;
  }
}

.book {
  z-index: 2;
}

@media (min-width: 768px) and (orientation: landscape) {
  .book {
    min-height: 100vh;
    margin-top: -100px;
  }
}

.book__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book__image {
  position: relative;
  margin: 0 4% 0 0;
  max-width: 60%;
  padding: 5.5em 0;
}

@media (min-width: 992px) {
  .book__image {
    max-width: calc(100% - 30em);
    margin: 0 5em 0 0;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .book__image {
    margin: 0 6em 0 0;
    max-width: calc(100% - 33em);
  }
}

.book__img {
  margin-left: 4%;
  margin-bottom: -10%;
}

@media (min-width: 1440px) {
  .book__img {
    margin-left: 6%;
  }
}

.book__link {
  z-index: 2;
}

@media (max-width: 991px) {
  .book__link {
    position: absolute;
    top: 0;
    left: 15%;
  }
  .book__link:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .book__link.arrowlink_left {
    bottom: 0;
    top: unset;
    right: 15%;
    left: unset;
  }
  .book__link.arrowlink_left:after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.book .arrowlink:after {
  -webkit-animation: none;
  animation: none;
}

@media (hover) {
  .book .arrowlink:hover:after {
    -webkit-animation: animRight 1.1s ease-in-out infinite;
    animation: animRight 1.1s ease-in-out infinite;
  }
}

@media (hover) and (max-width: 991px) {
  .book .arrowlink:hover:after {
    -webkit-animation: none;
    animation: none;
  }
}

.book .arrowlink_left:after {
  -webkit-animation: none;
  animation: none;
}

@media (hover) {
  .book .arrowlink_left:hover:after {
    -webkit-animation: animLeft 1.1s ease-in-out infinite;
    animation: animLeft 1.1s ease-in-out infinite;
  }
}

@media (hover) and (max-width: 991px) {
  .book .arrowlink_left:hover:after {
    -webkit-animation: none;
    animation: none;
  }
}

.sale {
  position: absolute;
  top: 44%;
  right: -20%;
  width: 38%;
}

@media (min-width: 1440px) {
  .sale {
    right: -23%;
  }
}

.history .scrollnext {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 71 52.82' style='fill: %23000000;'%3E%3Cpolygon class='cls-1' points='41.76 2.86 63.34 24.54 0 24.54 0 28.54 63.34 28.54 41.76 50.03 44.59 52.82 71 26.38 44.59 0 41.76 2.86' /%3E%3C/svg%3E");
}

.history__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
}

@media (min-width: 992px) {
  .history__container {
    flex-wrap: nowrap;
    margin-top: 0px;
  }
}

.history__content {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 992px) {
  .history__content {
    width: 80%;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .history__content {
    width: 55%;
    padding: 40px;
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .history__content {
    width: 50%;
  }
}

.history__content .h4 {
  text-transform: uppercase;
  width: 100%;
}

.history__image {
  width: 100%;
  height: 103vw;
  margin-left: auto;
}

@media (min-width: 992px) {
  .history__image {
    margin-top: -5%;
    margin-left: 0;
    margin-right: 4%;
    width: 40%;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .history__image {
    margin-top: -10%;
  }
}

.history__image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.quote {
  font-family: "PT Astra", "PT Sans", sans-serif;
  position: relative;
  margin-bottom: 3em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .quote {
    width: 100%;
  }
}

.quote:before {
  content: "";
  width: 3.75em;
  height: 3.75em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 92.87 89.75'%3E%3Cpath d='M41.31 89.75L0 44.73 41.31 0H49L25.68 44.24 49 89.75zm44 0l-40.92-45L85.84 0h7l-23 44.73 23 45z' fill='%23f09300' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: -1.35em;
  left: -1.8em;
  z-index: -1;
}

.quote:after {
  content: "";
  width: 3.75em;
  height: 3.75em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 92.87 89.75'%3E%3Cpath d='M41.31 89.75L0 44.73 41.31 0H49L25.68 44.24 49 89.75zm44 0l-40.92-45L85.84 0h7l-23 44.73 23 45z' fill='%23f09300' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  bottom: -1.35em;
  right: -1.8em;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: -1;
}

.advice {
  padding-bottom: 2em;
}

@media (min-width: 768px) and (orientation: landscape) {
  .advice {
    min-height: 100vh;
  }
}

.advice__text {
  width: 100%;
  min-width: unset;
  margin-left: 0%;
  margin-bottom: 1.5em;
}

@media (min-width: 768px) {
  .advice__text {
    width: 80%;
    margin-left: 15%;
  }
}

@media (min-width: 1440px) {
  .advice__text {
    width: calc(100% - 13em);
    margin-left: 13em;
  }
}

@media (min-width: 1440px) {
  .advice__text {
    width: 50%;
    min-width: 850px;
    margin-left: 25%;
  }
}

.step {
  position: relative;
}

.step:before {
  content: "1";
  position: absolute;
  top: 0;
  left: -0.03em;
  font-size: 25em;
  font-family: "KyivTypeSans", serif;
  font-weight: 900;
  color: #f09300;
  line-height: 0.6;
  z-index: -1;
}

@media (min-width: 992px) {
  .step:before {
    font-size: 35em;
  }
}

@media (min-width: 1440px) {
  .step:before {
    font-size: calc(35em + 1.2vw);
  }
}

@media (min-width: 1700px) {
  .step:before {
    font-size: 40.625em;
  }
}

.step .h3 {
  width: 100%;
  margin-left: 0%;
  margin-bottom: 0.8em;
}

@media (min-width: 768px) {
  .step .h3 {
    width: 90%;
    margin-left: 10%;
  }
}

@media (min-width: 992px) {
  .step .h3 {
    margin-bottom: 1.35em;
  }
}

.step__text {
  width: 100%;
  min-width: unset;
  margin-left: 0%;
}

@media (min-width: 768px) {
  .step__text {
    width: 80%;
    margin-left: 15%;
  }
}

@media (min-width: 992px) {
  .step__text {
    width: calc(100% - 13em);
    margin-left: 13em;
  }
}

@media (min-width: 1440px) {
  .step__text {
    width: 50%;
    min-width: 850px;
    margin-left: 25%;
  }
}

.step__row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3em;
  padding: 0 15px;
  position: relative;
}

@media (max-width: 399px) {
  .step__row {
    position: relative;
    padding-top: 3.5em;
  }
}

@media (min-width: 768px) {
  .step__row {
    padding: 0 40px;
  }
}

@media (min-width: 992px) {
  .step__row {
    padding: 0;
  }
}

.step__title {
  font-family: "KyivTypeSans", serif;
  font-weight: 900;
  font-size: 22px;
  width: 100%;
  margin-bottom: 1.5em;
}

@media (max-width: 399px) {
  .step__title {
    padding: 0 15px;
    font-size: 5.8vw;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: 576px) {
  .step__title {
    font-size: 2em;
  }
}

.step__image {
  width: 300px;
  width: 20em;
}

@media (min-width: 992px) {
  .step__image {
    width: 15em;
  }
}

@media (min-width: 1200px) {
  .step__image {
    width: calc(25% + 18px);
  }
}

.step__img {
  width: 83%;
  max-width: 370px;
  margin: 0 auto -6% 10.5%;
  display: block;
}

@media (min-width: 992px) {
  .step__img {
    margin: -17% auto -6% 10.5%;
  }
}

.question {
  background: #f09300;
}

.question__content {
  width: 100%;
  min-width: unset;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
}

@media (min-width: 768px) {
  .question__content {
    width: 28em;
  }
}

@media (min-width: 992px) {
  .question__content {
    width: 90%;
  }
}

@media (min-width: 1440px) {
  .question__content {
    width: 80%;
    min-width: 1200px;
  }
}

.question__title {
  font-size: 5.8vw;
  font-family: KyivTypeSans, serif;
  font-weight: 900;
}

@media (min-width: 399px) {
  .question__title {
    font-size: 22px;
  }
}

@media (min-width: 1440px) and (min-height: 600px) {
  .question__title {
    font-size: 24px;
  }
}

.question__list {
  -webkit-column-count: 1;
  column-count: 1;
}

@media (min-width: 992px) {
  .question__list {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    column-gap: 60px;
  }
}

.opinion {
  position: relative;
  overflow: hidden;
}

.opinion__top {
  background: #e5e5e5;
  margin-top: -1px;
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) and (orientation: landscape) {
  .opinion__top {
    background: #f09300;
    display: block;
  }
}

.opinion__title {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0.3em;
  text-align: center;
}

@media (min-width: 768px) and (orientation: landscape) {
  .opinion__title {
    display: block;
    width: 75%;
    margin-left: 25%;
    text-align: left;
    padding-bottom: 0.7em;
  }
}

.opinion__title + .opinion__content {
  padding-top: 1em;
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation: portrait) {
  .opinion__title + .opinion__content {
    margin-left: 30%;
    width: 70%;
  }
}

.opinion__bottom {
  background: #e5e5e5;
}

.opinion__bottom .opinion__title {
  text-align: center;
  display: block;
}

@media (min-width: 768px) and (orientation: landscape) {
  .opinion__bottom .opinion__title {
    text-align: left;
  }
}

.opinion__content {
  width: 100%;
  padding: 1px 15px 2.5em;
  margin-top: -1px;
}

@media (min-width: 576px) {
  .opinion__content {
    padding: 1px 20px 2.5em;
  }
}

@media (min-width: 768px) {
  .opinion__content {
    padding: 1px 30px 3em;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .opinion__content {
    padding: 1em 0;
    width: 66%;
    margin-left: 30%;
    padding: 4em 0;
  }
}

@media (min-width: 1440px) {
  .opinion__content {
    width: 50%;
    min-width: 850px;
    margin-left: 30%;
  }
}

.opinion__image {
  display: none;
}

@media (min-width: 992px) {
  .opinion__image {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32vw;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .opinion__image {
    display: block;
    position: absolute;
    top: 0;
    bottom: unset;
    width: 27vw;
  }
}

.opinion__image_mob {
  display: block;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  top: -2em;
  position: relative;
}

@media (min-width: 992px) {
  .opinion__image_mob {
    display: none;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .opinion__image_mob {
    display: none;
  }
}

.opinion__image_mob .opinion__img {
  width: 40%;
  max-width: 300px;
  min-width: 210px;
  margin: 0 auto;
  display: block;
}

.opinion__img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom;
  object-position: bottom;
  margin-bottom: -10px;
}

#trigerChertkov {
  position: absolute;
  top: 100%;
}

.action__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

@media (min-width: 992px) {
  .action__container {
    flex-wrap: nowrap;
    justify-content: unset;
  }
}

.action__content {
  width: 100%;
  max-width: 400px;
  text-align: left;
  margin-left: 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 576px) {
  .action__content {
    width: 80%;
    max-width: unset;
  }
}

@media (min-width: 992px) {
  .action__content {
    width: 23em;
    display: block;
    justify-content: unset;
    flex-direction: unset;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .action__content {
    width: 27em;
    margin-left: 7%;
  }
}

.action__btn {
  text-align: center;
  margin-top: 2em;
  display: inline-block;
}

@media (min-width: 576px) {
  .action__btn {
    margin-bottom: 1em;
    margin-top: 3em;
  }
}

@media (max-width: 575px) {
  .action__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.action__image {
  padding: 0;
  padding-bottom: 1em;
}

.action__image .book__img {
  max-width: 100%;
  max-height: 90vh;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
}

.btn {
  background: #f09300;
  color: #fff;
  border-radius: 1em;
  border-radius: 3em;
  display: inline-flex;
  line-height: 1;
  padding: 1em 2em 1.05em;
  position: relative;
  font-weight: bold;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background: #fff;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.7;
}

.btn__price {
  font-size: 2em;
  font-family: "KyivTypeSans", serif;
  font-weight: 900;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.btn__currency {
  font-family: PT Sans, sans-serif;
  font-weight: 400;
}

.footer {
  background: #e5e5e5;
  font-size: 1rem;
  color: #7f7f7f;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.35em;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .footer__container {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .footer__container {
    justify-content: unset;
  }
}

@-webkit-keyframes animUp {
  from,
  to {
    top: 0px;
  }
  50% {
    top: -15px;
  }
}

@keyframes animUp {
  from,
  to {
    top: 0px;
  }
  50% {
    top: -15px;
  }
}

.tostart {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 2em;
  margin-bottom: 1.5em;
  position: relative;
}

@media (min-width: 576px) {
  .tostart {
    margin-bottom: 0;
  }
}

.tostart__img {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-left: 0.5em;
  margin-top: 1.25em;
  height: 2.2em;
  display: block;
  position: relative;
  -webkit-animation: animUp 1.1s ease-in-out infinite;
  animation: animUp 1.1s ease-in-out infinite;
}

.tostart:focus {
  outline: none;
}

.tostart:hover {
  font-weight: bold;
}

.author {
  margin-left: auto;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  margin: 1em 0% 0;
}

@media (min-width: 576px) {
  .author {
    margin: 1em 20% 0;
  }
}

@media (min-width: 768px) {
  .author {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
  }
}

.author__img {
  width: 45px;
  margin-left: 0.8em;
  display: block;
}

@media (min-width: 768px) {
  .author__img {
    width: 65px;
  }
}

.author:hover {
  opacity: 0.7;
}

/***** classes modifications******/
.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}
